<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681252217541-fooh21fcdrmkfi5ra9gso1q3bihf04vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681252217541-fooh21fcdrmkfi5ra9gso1q3bihf04vi</string>
	<key>API_KEY</key>
	<string>AIzaSyBkqy7XfbXevo5TtJb8po93CV05NzM0Lq4</string>
	<key>GCM_SENDER_ID</key>
	<string>681252217541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citycab</string>
	<key>PROJECT_ID</key>
	<string>city-cab-3c86f</string>
	<key>STORAGE_BUCKET</key>
	<string>city-cab-3c86f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681252217541:ios:f0e67d594528b61f5ec6ac</string>
</dict>
</plist>